DB_USERNAME=db_user
DB_PASSWORD=password
DB_DATABASE=menu_db
DB_HOST=db
DB_PORT=5432

REDIS_PORT=6379

TEST_DB_USERNAME=test_db_user
TEST_DB_PASSWORD=password
TEST_DB_DATABASE=test_menu_db
TEST_DB_HOST=test_db
TEST_DB_PORT=5432

TEST_REDIS_PORT=6379
